<div class="lightbox is-hidden js-questionnaire-lightbox">

    <div class="scroller">
        <div class="scroller__content js-lightbox-scroller-content">


            <form name="application" method="post" action="form.php" id="anketa-form" data-plugin="form">

                <div>
                    <div class="form-content container container--lightbox js-form-content"
                        data-plugin="questionnaire">
                        <h2>Анкета клиента</h2>
                        <fieldset class="form-fieldset">

                            <span>Тип недвижимости</span>
                            <div class="form-control-switch js-questionnaire-type" id="first">
                                <label for="type1" class="btn btn--switch btn--text-top btn--text-left active">
                                    <span> Квартиры <br>
                                        в новостройках</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" checked
                                    value="Квартиры в новостройках" id="type1">
                                <label for="type2" class="btn btn--switch btn--text-top btn--text-left">
                                    <span> Вторичные <br>
                                        квартиры</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" value=" Вторичные квартиры"
                                    id="type2">
                                <label for="type3" class="btn btn--switch btn--text-top btn--text-left">
                                    <span> Дома <br>
                                        и коттеджи</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" value="Дома и коттеджи" id="type3">
                                <label for="type4" class="btn btn--switch btn--text-top btn--text-left">
                                    <span> Земельные <br>
                                        участки</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" value="Земельные участки" id="type4">
                                <label for="type5" class="btn btn--switch btn--text-top btn--text-left">
                                    <span> Коммерческая <br>
                                        недвижимость</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" value="Коммерческая недвижимость"
                                    id="type5">
                                <label for="type6" class="btn btn--switch btn--text-top btn--text-left">
                                    <span> Не определился</span>
                                </label>
                                <input type="checkbox" name="type[]" class="d-none" value="Не определился" id="type6">
                            </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                            <span>Цель приобретения</span>
                            <div class="form-control-switch js-questionnaire-type" id="second">
                                <label for="needs1"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left ">
                                    <span>Для постоянного <br>
                                        проживания</span>
                                </label>
                                <input type="checkbox" name="needs[]" class="d-none" value="Для постоянного проживания"
                                    id="needs1">
                                <label for="needs2"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Для отдыха</span>
                                </label>
                                <input type="checkbox" name="needs[]" class="d-none" value="Для отдыха" id="needs2">
                                <label for="needs3"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Для бизнеса</span>
                                </label>
                                <input type="checkbox" name="needs[]" class="d-none" value="Для бизнеса" id="needs3">
                                <label for="needs4"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Для инвестиций</span>
                                </label>
                                <input type="checkbox" name="needs[]" class="d-none" value="Для инвестиций" id="needs4">

                            </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                            <span>Важные критерии</span>
                            <div class="form-control-switch js-questionnaire-type" id="third">
                                <label for="criteria1"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left ">
                                    <span>Низкая цена</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Низкая цена"
                                    id="criteria1">
                                <label for="criteria2"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Рядом с морем</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Рядом с морем"
                                    id="criteria2">
                                <label for="criteria3"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Рядом с садиком <br>
                                        и школой</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Рядом с садиком и школой"
                                    id="criteria3">
                                <label for="criteria4"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Развитая <br> инфраструктура</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Развитая инфраструктура"
                                    id="criteria4">
                                <label for="criteria5"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left ">
                                    <span>Инвестиционная <br> привлекательность</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none"
                                    value="Инвестиционная привлекательность" id="criteria5">
                                <label for="criteria6"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Вид на море</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Вид на море"
                                    id="criteria6">
                                <label for="criteria7"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Дом сдан</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="Дом сдан" id="criteria7">
                                <label for="criteria8"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>С ремонтом</span>
                                </label>
                                <input type="checkbox" name="criteria[]" class="d-none" value="С ремонтом"
                                    id="criteria8">

                            </div>
                        </fieldset>
                        <fieldset class="form-fieldset ">
                            <div class="form-fieldset-flex">
                                <div class="form_half">
                                    <p>Цена, ¤</p>
                                    <div class="form_half-inner">
                                        <div class="form-group form-group--half">

                                            <label
                                                class="form-label--lg form-label--placeholder required form-label"
                                                for="application_priceFrom">

                                                <span>От</span>
                                            </label>
                                            <input type="text" id="application_priceFrom" name="priceFrom"
                                                data-plugin="labelPlaceholder"
                                                class="form-control form-control--lg" />
                                        </div>
                                        <div class="form-group  form-group--half">

                                            <label
                                                class="form-label--lg form-label--placeholder required form-label"
                                                for="application_priceTo">

                                                <span>До</span>
                                            </label>
                                            <input type="text" id="application_priceTo" name="priceTo"
                                                 data-plugin="labelPlaceholder"
                                                class="form-control form-control--lg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form_half">
                                    <p>Площадь, м&sup2;</p>
                                    <div class="form_half-inner">
                                        <div class="form-group form-group--lg form-group--half">

                                            <label
                                                class="form-label--lg form-label--placeholder required form-label"
                                                for="application_areaFrom">

                                                <span>От</span>
                                            </label>
                                            <input type="text" id="application_areaFrom" name="areaFrom"
                                                data-plugin="labelPlaceholder"
                                                class="form-control form-control--lg" />
                                        </div>
                                        <div class="form-group form-group--lg form-group--half">

                                            <label
                                                class="form-label--lg form-label--placeholder required form-label"
                                                for="application_areaTo">

                                                <span>До</span>
                                            </label>
                                            <input type="text" id="application_areaTo" name="areaTo"
                                                data-plugin="labelPlaceholder"
                                                class="form-control form-control--lg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                            <span>Способы покупки</span>
                            <div class="form-control-switch js-questionnaire-type" id="fourth">
                                <label for="buy1"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left ">
                                    <span>Наличный <br>
                                        расчет</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Наличный расчет" id="buy1">
                                <label for="buy2"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Ипотека</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Ипотека" id="buy2">
                                <label for="buy3"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Материнский <br> капитал</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Материнский капитал" id="buy3">
                                <label for="buy4"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Военная <br>
                                        ипотека</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Военная ипотека" id="buy4">
                                <label for="buy5"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left ">
                                    <span>Семейная <br>
                                        ипотека</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Семейная ипотека" id="buy5">
                                <label for="buy6"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Социальные <br>
                                        сертификаты</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Социальные сертификаты"
                                    id="buy6">
                                <label for="buy7"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Без первого <br>
                                        взноса</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Без первого взноса" id="buy7">
                                <label for="buy8"
                                    class="btn btn--switch btn--switch-half btn--text-top btn--text-left">
                                    <span>Рассрочка</span>
                                </label>
                                <input type="checkbox" name="buy[]" class="d-none" value="Рассрочка" id="buy8">

                            </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                            <span>Контактные данные клиента</span>
                            <div class="form-fieldset-flex mt-3">
                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyContact">

                                            <span>ФИО*</span>
                                        </label><input type="text" id="application_companyContact"
                                            name="application_companyContact" required="required"
                                            data-plugin="labelPlaceholder" class="form-control form-control--lg" />
                                    </div>

                                </div>

                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyPhone">

                                            <span>Номер телефона*</span>
                                        </label><input type="tel" id="application_companyPhone"
                                            name="application_companyPhone" required="required"
                                            data-plugin="labelPlaceholder" class="form-control form-control--lg" />
                                    </div>
                                </div>
                            </div>



                        </fieldset>

                        <fieldset class="form-fieldset">
                            <span>Контактные данные партнера</span>
                            <div class="form-fieldset-flex form-fieldset-flex-wrap mt-3">
                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyContact2">

                                            <span>ФИО*</span>
                                        </label><input type="text" id="application_companyContact2"
                                            name="application_companyContact2" required="required"
                                            data-plugin="labelPlaceholder" class="form-control form-control--lg" />
                                    </div>

                                </div>

                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyPhone2">

                                            <span>Номер телефона*</span>

                                        </label><input type="tel" id="application_companyPhone2"
                                            name="application_companyPhone2" required="required"
                                            data-plugin="labelPlaceholder" class="form-control form-control--lg" />
                                    </div>
                                </div>
                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyName2">
                                            <span>Название компании</span>
                                        </label><input type="text" id="application_companyName2"
                                            name="application_companyName2" data-plugin="labelPlaceholder"
                                            class="form-control form-control--lg" />
                                    </div>
                                </div>
                                <div class="form_half">
                                    <div class="form-group form-group--lg ">
                                        <label class="form-label--lg form-label--placeholder required form-label"
                                            for="application_companyEmail">

                                            <span>E-mail</span>

                                        </label><input type="email" id="application_companyEmail"
                                            name="application_companyEmail" data-plugin="labelPlaceholder"
                                            class="form-control form-control--lg" />
                                    </div>
                                </div>

                            </div>

                        </fieldset>
                        <footer class="form-footer js-form-content">
                            <button type="submit" class="btn btn--full btn--xl btn--secondary" id="anketa-send"><span
                                    class="btn__content">


                                    <img src="img/icons/arrow-right-round.svg" alt="">

                                    <span>Отправить</span>
                                </span></button>
                            <div class="form-policy">Нажимая на кнопку, вы соглашаетесь с условиями договора оферты
                            </div>
                        </footer>
                    </div>



                </div>

                <input type="hidden" id="application__token" name="application[_token]"
                    value="cbHnVTZwLlX4CXCGnJ7NiLrFFxIgVxBpRD_RSY0kPNI" />
            </form>
        </div>
    </div>


    <a
        class="lightbox__close btn btn--lg btn--outline btn--outline--light btn--square btn--rounded js-lightbox-close">


        <img src="img/icons/close.svg" alt="">
    </a>

</div>