<div class="lightbox ui-light is-hidden js-cookies-callback">

    <div class="scroller">
        <div class="scroller__content js-lightbox-scroller-content">
            <div class="container container--lightbox container--lightbox_small p-0">
                <form name="become_partner" id="form-callback" method="post" action="form-callback.php" data-plugin="form" novalidate="novalidate">

                    <div class="js-form-content">
                        <h2 class="" data-plugin="appear" data-appear-effects="text">

                            Заявка на консультацию
                        </h2>

                        <p class="block-lg text--large">
                            Специалист свяжется с вами в ближайшее время</p>

                        <fieldset class="form-fieldset">

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_name">

                                    <span>Имя</span>
                                </label><input type="text" id="become_partner_name" name="become_partner_name"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_email">

                                    <span>E-mail</span>
                                </label><input type="email" id="become_partner_email" name="become_partner_email"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_phone">

                                    <span>Телефон</span>
                                </label><input type="tel" id="become_partner_phone" name="become_partner_phone"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading form-label"
                                    for="become_partner_comment">

                                    <span>Комментарий</span>
                                </label><textarea id="become_partner_comment" name="become_partner_comment"
                                    data-plugin="labelPlaceholder, textareaSize"
                                    class="form-control form-control--textarea" style="height: 48px;"></textarea>
                            </div>


                        </fieldset>
                    </div>



                    <footer class="block-lg js-form-content">
                        <button type="submit" class="btn btn--full btn--submit-lg btn--primary" id="callback_submit"><span
                                class="btn__content">
                                <img src="img/icons/arrow-right-round.svg" alt="">
                                <span>Стать партнером</span>
                            </span></button>
                    </footer>
                    <div class="footer_descr">
                        Нажимая на кнопку, вы соглашаетесь с условиями
                    </div>
                    <a class="footer_link-form" data-plugin="lightboxTrigger"
                        data-lightbox-trigger-target=".js-cookies-notification">
                        обработки персональных данных
                    </a>

                </form>
            </div>
        </div>
    </div>


    <a
        class="lightbox__close btn btn--lg btn--outline btn--outline--light btn--square btn--rounded js-lightbox-close">


        <img src="img/icons/close.svg" alt="">
    </a>

</div>