<div class="lightbox ui-light is-hidden js-cookies-partnering">

    <div class="scroller">
        <div class="scroller__content js-lightbox-scroller-content">
            <div class="container container--lightbox container--lightbox_small p-0">
                <form name="become_partner" method="post" action="../form-partnering.php" data-plugin="form" novalidate="novalidate" id="form-partnering3">

                    <div class="js-form-content">
                        <h2 class="" data-plugin="appear" data-appear-effects="text">

                            Стать партнером
                        </h2>

                        <p class="block-lg text--large">
                            Подпишитесь на партнерскую программу GRC Pro, чтобы получить доступ к профессиональному
                            инструменту продаж недвижимости в Сочи</p>

                        <fieldset class="form-fieldset">

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_name3">

                                    <span>Имя</span>
                                </label><input type="text" id="become_partner_name3" name="become_partner_name"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_email3">

                                    <span>E-mail</span>
                                </label><input type="email" id="become_partner_email3" name="become_partner_email"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading required form-label"
                                    for="become_partner_phone3">

                                    <span>Телефон</span>
                                </label><input type="tel" id="become_partner_phone3" name="become_partner_phone"
                                    required="required" data-plugin="labelPlaceholder" class="form-control"></div>

                            <div class="form-group  ">
                                <label class="form-label--placeholder text--color-heading form-label"
                                    for="become_partner_comment3">

                                    <span>Комментарий</span>
                                </label><textarea id="become_partner_comment3" name="become_partner_comment"
                                    data-plugin="labelPlaceholder, textareaSize"
                                    class="form-control form-control--textarea" style="height: 48px;"></textarea>
                            </div>


                        </fieldset>
                    </div>



                    <footer class="block-lg js-form-content">
                        <button type="submit" class="btn btn--full btn--submit-lg btn--primary" id="partnering_submit3"><span
                                class="btn__content">
                                <img src="../img/icons/arrow-right-round.svg" alt="">
                                <span>Стать партнером</span>
                            </span></button>
                    </footer>
                    <div class="footer_descr">
                        Нажимая на кнопку, вы соглашаетесь с условиями
                    </div>
                    <a class="footer_link-form" data-plugin="lightboxTrigger"
                        data-lightbox-trigger-target=".js-cookies-notification">
                        обработки персональных данных
                    </a>

                </form>
            </div>
        </div>
    </div>


    <a
        class="lightbox__close btn btn--lg btn--outline btn--outline--light btn--square btn--rounded js-lightbox-close">


        <img src="../img/icons/close.svg" alt="">
    </a>

</div>
