<div class="cookies-notification ui-dark is-hidden" data-plugin="cookiesNotification">
    <div class="container">
        <div class="cookies-notification__text text--small">
            Данный сайт собирает cookie-файлы. Продолжая находиться на нашем ресурсе Вы соглашаетесь с политикой
            сбора cookie-файлов.
            <a data-plugin="lightboxTrigger" data-lightbox-trigger-target=".js-cookies-notification">Подробнее</a>
        </div>
        <a class="cookies-notification__close js-cookies-close" alt="закрыть">


            <img src="../img/icons/close.svg" alt="">

        </a>
    </div>
</div>

<div class="lightbox ui-light is-hidden js-cookies-notification">

    <div class="scroller">
        <div class="scroller__content js-lightbox-scroller-content">
            <div class="container container--lightbox p-0">
                <h2>Политика конфиденциальности</h2>
                <p class="text--lead text--color-secondary block-md">
                    Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет
                    собой правила использования ООО «Городской Риэлторский Центр», (далее – «Правообладатель»)
                    персональной информации Пользователя.

                </p>
                <h5>1. Общие положения</h5>
                <p class="text--large text--color-secondary block-md">
                    Городской риэлторский центр использует файлы cookie для обеспечения 1.1. Настоящая Политика
                    является
                    неотъемлемой частью Пользовательского соглашения (далее – «Соглашение»), размещенного и/или
                    доступного в сети Интернет по адресу: <a
                        href="https://grc-sochi.ru/about/polzovatelskoe-soglashenie/">https://grc-sochi.ru/about/polzovatelskoe-soglashenie/</a>

                </p>
                <p class="text--large text--color-secondary block-md">
                    1.2. Заключая Соглашение вы свободно, своей волей и в своих интересах даете письменное согласие
                    на следующие способы обработки Персональной информации: запись, систематизация, хранение,
                    уточнение (обновление, изменение), извлечение, использование, передача (распространение,
                    предоставление, доступ) третьим лицам, обезличивание, блокирование, удаление, уничтожение в
                    установленных настоящей Политикой целях с использованием средств автоматизации или без
                    использования таких средств по усмотрению Правообладателя.

                </p>
                <p class="text--large text--color-secondary block-md">
                    1.3. К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения,
                    изменения и прекращения, подлежит применению законодательство Российской Федерации.

                </p>
                <p class="text--large text--color-secondary block-md">
                    1.4. Здесь и далее в Политике используются термины и определения, предусмотренные Соглашением,
                    если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях
                    толкование применяемого в Политике термина производится в соответствии с действующим
                    законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.

                </p>
                <h5>2. Персональная информация
                </h5>
                <p class="text--large text--color-secondary block-md"> 2.1. Под персональной информацией в настоящей
                    Политике понимается:</p>
                <p class="text--large text--color-secondary block-md">2.1.1. Информация, которую Пользователь
                    предоставляет о себе самостоятельно в процессе
                    использования Сервиса, включая персональные данные Пользователя.</p>
                <p class="text--large text--color-secondary block-md">2.1.2. Данные, которые передаются в
                    обезличенном виде в автоматическом режиме в зависимости от
                    настроек программного обеспечения Пользователя.</p>
                <p class="text--large text--color-secondary block-md">2.2. Правообладатель вправе устанавливать
                    требования к составу Персональной информации
                    Пользователя, которая должна обязательно предоставляться для использования Сервиса. Если
                    определенная информация не помечена Правообладателем как обязательная, ее предоставление или
                    раскрытие осуществляется Пользователем на свое усмотрение.</p>
                <p class="text--large text--color-secondary block-md">2.3. При направлении Пользователем обращения
                    Правообладателю обязательно указываются имя,
                    фамилия, адрес электронной почты, дополнительно может быть указан абонентский номер телефона.
                </p>
                <p class="text--large text--color-secondary block-md">При оформлении подписки на новостную рассылку
                    Пользователем обязательно указываются имя и адрес
                    электронной почты, а также дополнительно могут быть указаны дата рождения, почтовый индекс,
                    страна.</p>
                <p class="text--large text--color-secondary block-md">При заказе обратного звонка обязательно
                    указываются имя и абонентский номер телефона.</p>
                <p class="text--large text--color-secondary block-md">При размещении в Приложении отзыва
                    Пользователь указывает имя, фамилию, город проживания,
                    размещает фотографию и отзыв в свободной форме.</p>
                <p class="text--large text--color-secondary block-md">2.4. Пользователь дает информированное
                    согласие на доступ неограниченного круга лиц к
                    Персональной информации об имени, фамилии, городе проживания, представленной при размещении
                    отзыва в Приложении. Указанная Персональная информация становится общедоступной с момента
                    размещения в Приложении по инициативе или просьбе субъекта персональных данных.</p>
                <p class="text--large text--color-secondary block-md">2.5. Правообладатель не осуществляет проверку
                    достоверности предоставляемой Персональной
                    информации и наличия у Пользователя необходимого согласия на ее обработку в соответствии с
                    настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и
                    прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и
                    получению всех необходимых согласий субъектов персональных данных.</p>
                <p class="text--large text--color-secondary block-md">2.6. Пользователь осознает и принимает
                    возможность использования в Приложении Правообладателя
                    программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать
                    указанные в п.2.1.2 данные в обезличенном виде.
                </p>
                <p class="text--large text--color-secondary block-md"> К указанному программному обеспечению третьих
                    лиц относятся системы сбора статистики посещений
                    Google Analytics и Яндекс.Метрика и подобные сервисы.
                    Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц
                    определяются непосредственно их правообладателями и могут включать:</p>
                <p class="text--large text--color-secondary block-md">- данные браузера (тип, версия, cookie);
                    <br><br>
                    - данные устройства и место его положения; <br><br>
                    - данные операционной системы (тип, версия, разрешение экрана); <br><br>
                    - данные запроса (время, источник перехода, IP-адрес).</p>
                <h5> 3. Цели обработки Персональной информации</h5>
                <p class="text--large text--color-secondary block-md">
                    3.1. Правообладатель осуществляет обработку, в том числе сбор и хранение только той Персональной
                    информации, которая необходима для заключения и исполнения Соглашения с Пользователем об
                    использовании Сервиса и иных договоров, содержащих на данную Политику.
                </p>
                <p class="text--large text--color-secondary block-md">
                    3.2. Правообладатель вправе использовать Персональную информацию в следующих целях:
                </p>
                <p class="text--large text--color-secondary block-md">
                    3.2.1 Исполнение обязательств по Соглашению об использовании Сервиса и иным ссылающимся на
                    Политику
                    договорам, включая предоставление Пользователю доступа к Сервису, использование Пользователем
                    функциональных возможностей Приложения и Сервиса.

                </p>
                <p class="text--large text--color-secondary block-md">
                    Функциональные возможности Приложения и/или Сервиса включают в себя: прием обращений от
                    Пользователя, заказ Пользователем обратного звонка от Правообладателя, подписка на
                    информационную
                    рассылку, размещение Пользователем отзыва о работе Правообладателя. Поэтому для использования
                    этих
                    функциональных возможностей запрашиваются имя, фамилия Пользователя, адрес электронной почты,
                    абонентский номер телефона, город проживания.
                </p>
                <p class="text--large text--color-secondary block-md">
                    3.2.2. Нотификация в рамках информационного обслуживания, рассылок и улучшения качества Сервиса
                    по
                    заключенному Соглашению, в том числе с привлечением третьих лиц.
                    Для этого запрашивается адрес электронной почты и абонентский номер телефона Пользователя.
                </p>
                <p class="text--large text--color-secondary block-md">
                    3.2.3. Таргетинг рекламных и/или информационных материалов на основе обезличенных данных
                    (включая
                    адреса электронной почты), в том числе с использованием услуг третьих лиц.
                </p>
                <p class="text--large text--color-secondary block-md">
                    3.2.4. Проведение маркетинговых, статистических и иных исследований на основе обезличенных
                    данных в
                    целях улучшения качества предоставляемого Сервиса.
                    Данные из Google Analytics и Яндекс.Метрики в обезличенном виде собираются и анализируются,
                    чтобы
                    узнать, сколько времени Пользователи проводят на различных страницах Сайта, их интересах и
                    предпочтениях.
                </p>
                <h5> 4. Требования к защите Персональной информации</h5>
                <p class="text--large text--color-secondary block-md">
                    4.1. Правообладатель осуществляет хранение Персональной информации и обеспечивает ее охрану от
                    несанкционированного доступа и распространения в соответствии с внутренними правилами и
                    регламентами.
                </p>
                <p class="text--large text--color-secondary block-md">
                    4.2. В отношении Персональной информации сохраняется конфиденциальность, за исключением случаев,
                    когда она сделана Пользователем общедоступной (например, при размещении отзыва).
                </p>
                <p class="text--large text--color-secondary block-md">

                    4.3. В целях повышения качества Сервиса, Правообладатель вправе хранить лог-файлы о действиях,
                    совершенных Пользователем в рамках использования Сервиса, а также в связи с заключением и
                    исполнением Пользователем Соглашения со своей стороны, в течение 6 (шести) месяцев.
                </p>
                <h5>5. Передача информации</h5>
                <p class="text--large text--color-secondary block-md">
                    5.1. Правообладатель вправе передать Персональную информацию третьим лицам в следующих случаях:
                </p>
                <p class="text--large text--color-secondary block-md">
                    - Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем
                    настроек используемого программного обеспечения, не ограничивающих предоставление определенной
                    информации;
                </p>
                <p class="text--large text--color-secondary block-md">
                    - Передача необходима в рамках использования Пользователем функциональных возможностей Сервиса;
                </p>

                <p class="text--large text--color-secondary block-md">
                    - В связи с передачей Приложения Правообладателя во владение, пользование или собственность
                    такого третьего лица, или уступкой прав по заключенным с Пользователем договорам в пользу
                    третьего лица;
                </p>
                <p class="text--large text--color-secondary block-md">
                    - По запросу суда или иного уполномоченного государственного органа в рамках установленной
                    законодательством процедуры;
                </p>
                <p class="text--large text--color-secondary block-md">

                    - Для защиты прав и законных интересов Правообладателя в связи с нарушением заключенного с
                    Пользователем Соглашения.
                </p>
                <h5>6. Изменение Персональной информации</h5>
                <p class="text--large text--color-secondary block-md">
                    6.1. Пользователь вправе в любой момент отказаться от услуги информационной рассылки
                    самостоятельно следуя инструкциям по ссылке в письме или в СМС либо обратившись к
                    Правообладателю по адресу электронной почты <a
                        href="mailto:support@grc-sochi.ru">support@grc-sochi.ru</a>.
                </p>
                <p class="text--large text--color-secondary block-md">
                    6.2. Любые вопросы относительно настоящей Политики, использования, изменения, удаления
                    Персональной информации Пользователя могут быть направлены Правообладателю с использованием
                    программных средств Приложения или по адресу электронной почты <a
                        href="mailto:support@grc-sochi.ru">support@grc-sochi.ru</a>.
                </p>
                <h5>7. Изменение Политики конфиденциальности</h5>
                <p class="text--large text--color-secondary block-md">
                    7.1. Настоящая Политика может быть изменена или прекращена Правообладателем в одностороннем
                    порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с
                    момента ее размещения на Сайте Правообладателя, если иное не предусмотрено новой редакцией
                    Политики.
                </p>
                <p class="text--large text--color-secondary block-md">
                    7.2. Действующая редакция Политики находится на Сайте Правообладателя в сети Интернет по адресу
                    <a
                        href="https://grc-sochi.ru/about/politika-konfidencialnosti/">https://grc-sochi.ru/about/politika-konfidencialnosti/</a>.
                </p>
                <p class="text--large text--color-secondary block-md">
                    ООО «Городской Риэлторский Центр»
                </p>
                <p class="text--large text--color-secondary block-md">
                    ОГРН 1022302919572
                </p>
                <p class="text--large text--color-secondary block-md">
                    ИНН 2320098253
                </p>
                <p class="text--large text--color-secondary block-md">
                    Адрес: 354000, РФ, Краснодарский край, г.Сочи, ул. Горького, д. 42/2.
                </p>
                <p class="text--large text--color-secondary block-md">
                    Email: <a href="mailto:office@grc-sochi.ru">office@grc-sochi.ru</a>
                </p>
            </div>
        </div>
    </div>


    <a
        class="lightbox__close btn btn--lg btn--outline btn--outline--light btn--square btn--rounded js-lightbox-close">


        <img src="../img/icons/close.svg" alt="">
    </a>

</div>



