body {
  color: #4f4f4f;
  font-family: "Montserrat";
}
#page {
  overflow-x: hidden;
}

@mixin main-btn($bg, $primary, $width, $height) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $width;
  width: 100%;
  height: $height;
  border: 2px solid transparent;
  border-radius: 30px;
  background: $bg;
  color: $primary;
  outline: none;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
  }
}
.white {
  color: #fff !important;
}
.green {
  color: $light-green !important;
}
.mint {
  color: $green !important;
}
.orange {
  color: $orange !important;
}
.yellow {
  color: $yellow !important;
}
.red {
  color: $red !important;
}
.green-bg {
  background: $light-green;
}
.yellow-bg {
  background: $yellow;
}
.orange-bg {
  background: $orange;
}
.red-bg {
  background: $red;
}
.mint-bg {
  background: $green;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  text-align: center;
  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 28px;
  }
  @media (max-width: 992px) {
    font-size: 24px;
    line-height: 18px;
  }
  @media (max-width: 560px) {
    font-size: 12px;
    line-height: 15px;
  }
}
.top-head {
  background: $green;
  @media (max-width: 992px) {
    display: none;
  }
  &_inner {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_address {
    display: flex;
    margin: 0;
    &-item {
      margin-right: 34px;
      color: #fff;
      img {
        margin-right: 13px;
      }
    }
  }
  &_email {
    a {
      color: #fff;
    }
  }
  &_right {
    display: flex;
  }
  &_soc {
    a {
      display: inline-block;
      margin-left: 24px;
      transition: all 0.5s;
      &:hover {
        filter: invert(1);
      }
    }
  }
}

.header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //   @media (max-width: 992px) {
  //     position: fixed;
  //     width: 100%;
  //     top: 0;
  //     z-index: 99;
  //   }

  &_inner {
    min-height: 80px;
    display: flex;
    align-items: center;
    @media (max-width: 560px) {
      min-height: 60px;
    }
  }
  &_logo {
    margin-right: 46px;
    @media (max-width: 560px) {
      img {
        height: 38px;
      }
    }
  }
  .mob-phone {
    margin-left: auto;
    margin-right: 13px;
    a {
      display: inline-block;
    }
    img {
      height: 32px;
      @media (max-width: 560px) {
        height: 24px;
      }
    }
  }
  .toggle {
    z-index: 999;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 20px;

    background: url("../img/menu.svg") center no-repeat;
    background-size: cover;
    @media (max-width: 560px) {
      width: 20px;
      height: 15px;
    }
  }

  .main-btn {
    @include main-btn(#ff6666, #fff, 134px, 32px);
    margin-left: auto;
    border-color: #ff6666;
    @media (max-width: 992px) {
      display: none;
    }
    &:hover {
      background: #fff;
      color: #ff6666;
    }
  }
}

.menu {
  z-index: 2;
  @media (max-width: 992px) {
    display: none;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 80px;
    align-items: center;
    li {
      margin-right: 20px;
      position: relative;
      min-height: 60px;
      display: flex;
      align-items: center;
      ul {
        width: 255px;
        min-height: 120px;
        background: #ffffff;
        position: absolute;
        border-radius: 10px;
        border-top: 8px solid $orange;
        top: 100%;
        padding: 0 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        li {
          display: flex;
          align-items: center;
          min-height: auto;
          margin-top: 16px;
          &:before {
            content: "";
            background: url("../img/link-ic.svg") center no-repeat;
            width: 12px;
            height: 10px;
            display: inline-block;
            margin-right: 14px;
            position: relative;
            top: -2px;
          }
        }
      }
      &:hover > ul {
        display: flex;
      }
      &:hover > a,
      &:hover > span {
        text-decoration: none;
        color: $orange;
      }
      a,
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #4f4f4f;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          color: $orange;
        }
      }
    }
  }
}
.banner-slider {
  height: 680px;
  @media (max-width: 1200px) {
    height: 440px;
  }
  @media (max-width: 992px) {
    .slick-dots {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    height: 270px;
  }
  @media (max-width: 560px) {
    height: 210px;
  }
  .slick-list,
  .slick-track {
    height: 680px;
    @media (max-width: 1200px) {
      height: 440px;
    }
    @media (max-width: 992px) {
      height: 270px;
    }
    @media (max-width: 560px) {
      height: 210px;
    }
  }
  &_item {
    img {
      width: 100%;
      height: 680px;
      object-fit: cover;
      @media (max-width: 1200px) {
        height: 440px;
      }
      @media (max-width: 768px) {
        height: 270px;
      }
      @media (max-width: 560px) {
        height: 210px;
      }
    }
  }
}
.directions {
  padding: 48px 0;
  @media (max-width: 992px) {
    padding: 50px 0 20px;
    position: relative;
    margin-bottom: -60px;
  }
  @media (max-width: 414px) {
    padding-top: 30px;
    margin-bottom: -40px;
  }
  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  &_card {
    width: calc(33.33% - 30px);
    height: 292px;
    border-radius: 9px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .directions_card-btn {
        bottom: 0;
      }
    }
    &-title {
      min-height: 40px;
      color: #fff;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background: #008c99;
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      color: #008c99;
    }
    &-content {
      min-height: 52px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
    &-btn {
      position: absolute;
      width: 100%;
      bottom: -100%;
      background: #fff;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      .main-btn {
        @include main-btn($orange, #fff, 134px, 32px);
        margin-left: auto;
        margin-right: auto;
        border-color: $orange;
        &:hover {
          background: #fff;
          color: $orange;
        }
      }
    }
  }
}
.sign-up_wrap {
  position: relative;
  &.mh64 {
    min-height: 64px;
    @media (max-width: 414px) {
      min-height: 54px;
    }
    .sign-up {
      top: 0px;
    }
  }
}
.sign-up {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebc12d;
  border-radius: 400px;
  margin-bottom: 48px;
  @media (max-width: 992px) {
    position: absolute;
    top: -64px;
    width: 100%;
    margin: 0 0px;

    border-radius: 0;
    left: 0;
  }
  @media (max-width: 414px) {
    top: -54px;
    min-height: 54px;
  }
  &_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media (max-width: 560px) {
      font-size: 12px;
    }
    @media (max-width: 414px) {
      font-size: 10px;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      justify-content: space-between;
    }
  }

  .main-btn {
    @include main-btn(#ffff, $orange, 134px, 32px);
    margin-left: 48px;
    border-color: #fff;
    &:hover {
      border-color: $orange;
    }
    @media (max-width: 992px) {
      margin-left: 90px;
      &:hover {
        border-color: transparent;
      }
    }
    @media (max-width: 560px) {
      max-width: 95px;
      height: 24px;
      border-color: transparent;
      background: transparent;
      color: #000;
      font-size: 12px;
      margin-left: auto;
    }
    @media (max-width: 414px) {
      font-size: 10px;
    }
  }
}
.testim-up {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebc12d;
  border-radius: 400px;
  margin-bottom: 48px;
  margin-top: 48px;
  @media (max-width: 992px) {
    width: 100%;
    border-radius: 0;
    left: 0;
  }
  @media (max-width: 992px) {
    margin-bottom: 0;
    margin-top: 0;
  }
  @media (max-width: 414px) {
    min-height: 54px;
  }
  &_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media (max-width: 560px) {
      font-size: 12px;
    }
    @media (max-width: 414px) {
      font-size: 10px;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      justify-content: space-between;
    }
  }

  .main-btn {
    @include main-btn(#ffff, $orange, 134px, 32px);
    margin-left: 48px;
    border-color: #fff;
    &:hover {
      border-color: $orange;
    }
    @media (max-width: 992px) {
      margin-left: 90px;
      &:hover {
        border-color: transparent;
      }
    }
    @media (max-width: 560px) {
      max-width: 95px;
      height: 24px;
      border-color: transparent;
      background: transparent;
      color: #000;
      font-size: 12px;
      margin-left: auto;
    }
    @media (max-width: 414px) {
      font-size: 10px;
    }
  }
}
.about {
  background: $green center no-repeat;
  height: 724px;
  padding: 110px 0;
  mask-image: url("../img/green_bg.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  @media (min-width: 1920px) {
    height: 924px;
  }
  @media (max-width: 992px) {
    mask-image: none;
    height: auto;
    padding: 0px 0px 40px;
    margin-top: 240px;
  }
  @media (max-width: 414px) {
    margin-top: 160px;
    padding: 0px 0px 30px;
  }
  &--dev {
    background: $green center no-repeat;
  }
  &--lang {
    background: $blue center no-repeat;
  }
  &--draw {
    background: $light-green center no-repeat;
  }
  &--left {
    .about_content-image {
      order: 2;
      margin-right: 0;
      margin-left: 54px;
      @media (max-width: 1200px) {
        margin-left: 15px;
      }
      @media (max-width: 992px) {
        margin: 0;
        order: 1;
      }
    }
    .about_content-descr {
      order: 1;
      @media (max-width: 992px) {
        order: 2;
      }
    }
  }
  .container {
    height: 100%;
  }
  &_content {
    height: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
      margin-top: 0px;
    }
    &-image {
      border-radius: 10px;
      overflow: hidden;
      max-width: 445px;
      width: 100%;
      margin-right: 54px;
      @media (max-width: 992px) {
        max-width: 100%;
        height: 245px;
        margin: 0px auto 0;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      @media (max-width: 414px) {
        height: 145px;
      }
      img {
        max-width: 445px;
        width: 100%;
        height: 494px;
        object-fit: cover;
        @media (max-width: 992px) {
          max-width: 100%;
          height: 245px;
        }
        @media (max-width: 414px) {
          height: 145px;
        }
      }
    }
    &-btn {
      .main-btn {
        @include main-btn(#ffff, #000, 134px, 32px);
        margin: 0px auto 0;
        border-color: #fff;
        @media (max-width: 414px) {
          font-size: 10px;
          max-width: 100px;
        }
      }
    }
    &-descr {
      max-width: 611px;
      width: 100%;
      align-self: flex-start;
      @media (min-width: 1920px) {
        align-self: center;
      }
      @media (max-width: 992px) {
        max-width: 100%;
        margin: 0px auto 0;
        margin-top: -200px;
      }
      @media (max-width: 414px) {
        margin-top: -140px;
      }
      h2 {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: left;
        @media (max-width: 992px) {
          color: #000;
          font-weight: 500;
          text-align: center;
        }
        @media (max-width: 414px) {
          font-size: 14px;
        }
      }
    }
    &-wrap {
      @media (max-width: 992px) {
        display: flex;
        margin-top: 30px;
      }
    }
    &-item {
      display: flex;
      margin-bottom: 35px;
      @media (max-width: 1200px) {
        margin-bottom: 25px;
      }
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        width: 33.33%;
      }
      &_txt {
        max-width: 398px;
        width: 100%;
        margin-right: 73px;
        @media (max-width: 1200px) {
          margin-right: 15px;
        }
        @media (max-width: 992px) {
          order: 2;
          margin-right: 0;
        }
      }
      &_title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin-bottom: 25px;
        @media (max-width: 1200px) {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 5px;
        }
        @media (max-width: 992px) {
          text-align: center;
          font-size: 16px;
          margin-bottom: 0;
          line-height: 19px;
        }
        @media (max-width: 560px) {
          font-size: 12px;
          line-height: 14px;
        }
      }
      &_descr {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        @media (max-width: 992px) {
          display: none;
        }
      }
      &_image {
        width: 120px;
        @media (max-width: 992px) {
          order: 1;
          text-align: center;
          margin-bottom: 15px;
        }
        img {
          width: 120px;
          height: 120px;
          @media (max-width: 1200px) {
            width: 95px;
            height: 95px;
          }
          @media (max-width: 992px) {
            width: 65px;
            height: 65px;
          }
          @media (max-width: 560px) {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}
.courses {
  margin-top: -70px;
  margin-bottom: -70px;
  padding: 130px 0;
  @media (max-width: 992px) {
    margin: 0;
    padding: 20px 0;
  }
  @media (max-width: 414px) {
    padding: 20px 0 0;
  }
  &--dev {
    background: url("../img/dev-bg.svg") center;
    background-attachment: fixed;
  }
  &--lang {
    background: url("../img/lang-bg.svg") center;
    background-attachment: fixed;
  }
  &--draw {
    background: url("../img/draw-bg.svg") center;
    background-attachment: fixed;
  }
  &_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }
  &_card {
    width: 100%;
    max-width: 255px;
    height: 410px;
    border-radius: 9px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: auto;
      min-height: 170px;
      margin-bottom: 20px;
    }
    &_wrap {
      width: 25%;
      &::last-child {
        margin-right: auto;
      }
      @media (max-width: 1200px) {
        width: 33.33%;
      }
      @media (max-width: 992px) {
        width: calc(50% - 10px);
        &:nth-child(odd) {
          margin-right: auto;
        }
      }
    }

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 16px rgba(0, 0, 0, 0.12), 0px 4px 32px rgba(0, 0, 0, 0.12);
      .courses_card-btn {
        bottom: 0;
      }
    }
    &-image {
      height: 180px;
      @media (max-width: 414px) {
        height: 110px;
      }
      img {
        height: 180px;
        width: 100%;
        object-fit: cover;
        @media (max-width: 414px) {
          height: 110px;
        }
      }
    }
    &-title {
      min-height: 40px;
      color: #fff;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &-descr {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      position: relative;
      padding: 16px;
      padding-top: 0;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &--de {
      .courses_card-content {
        background: url("../img/DE.svg") right bottom no-repeat;
      }
    }
    &--eng {
      .courses_card-content {
        background: url("../img/EN.svg") right bottom no-repeat;
      }
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #008c99;
      padding: 16px;
      @media (max-width: 992px) {
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        text-align: center;
        color: #000000;
        padding-bottom: 5px;
      }
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
        padding: 8px;
        padding-top: 0;
      }
    }
    &-age {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #ebc12d;
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
      }
    }
    &-content {
      min-height: 52px;
      width: 100%;
      overflow: hidden;
      @media (max-width: 992px) {
        padding-bottom: 16px;
        position: relative;
      }
      @media (max-width: 560px) {
        padding: 8px;
      }
    }
    &-btn {
      position: absolute;
      width: 100%;
      bottom: -200%;
      left: 0;

      background: #fff;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      &:before {
        content: "";
        background: #bdbdbd;
        width: calc(100% - 32px);
        top: 0px;
        left: calc(50% - 44%);
        height: 2px;
        position: absolute;
        @media (max-width: 992px) {
          display: none;
        }
      }
      .main-btn {
        @include main-btn(#fff, $orange, 134px, 32px);
        border-color: $orange;
        margin-left: auto;
        margin-right: auto;
        border-color: $orange;
        @media (max-width: 560px) {
          max-width: 95px;
          height: 24px;
          font-size: 10px;
        }
        &:hover {
          color: #fff;
          background: $orange;
        }
      }
    }
  }
}
.news {
  background: $blue center no-repeat;
  height: 545px;
  padding: 110px 0;
  mask-image: url("../img/Union.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  @media (max-width: 992px) {
    mask-image: initial;
    background: transparent;
    padding: 30px 0 50px;
    height: auto;
  }
  h2 {
    @media (max-width: 992px) {
      color: #000 !important;
    }
  }
  &_block {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--slider {
      display: block;
    }
    &-all {
      .news_block-item {
        margin-bottom: 48px;
        @media (max-width: 768px) {
          margin: 0 auto 20px;
        }
      }
    }
    @media (max-width: 992px) {
      margin-top: 30px;
    }
    .slick-dots {
      bottom: -50px;
      @media (max-width: 992px) {
        bottom: -30px;
      }
      li {
        @media (max-width: 992px) {
          width: 10px;
          height: 10px;
        }
      }
    }
    .slick-dots li button {
      @media (max-width: 992px) {
        width: 10px;
        height: 10px;
      }
    }
    &-item {
      &--black {
        .news_block-content_title {
          a {
            color: #333333;
            &:hover {
              text-decoration: none;
              color: $orange;
            }
          }
        }
        .news_block-content_descr {
          color: #333333;
        }
        .news_block-content_publish {
          span {
            color: #333333;
            @media (max-width: 992px) {
              color: #f2994a;
            }
          }
        }
      }
    }
    .slick-dots li button:before {
      background: #fff;
      border: 4px solid #fff;
      @media (max-width: 992px) {
        background: #e0e0e0;
        width: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        height: 10px;
        border: 4px solid #e0e0e0;
      }
    }
    &-inner {
      display: flex;
      max-width: 555px;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
      @media (max-width: 1200px) {
        max-width: 445px;
      }
      @media (max-width: 992px) {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        max-width: 335px;
      }
      @media (max-width: 768px) {
        max-width: 445px;
      }
      &:hover {
        .news_slider-image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    &-image {
      max-width: 255px;
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      height: 200px;
      margin-right: 30px;
      @media (max-width: 992px) {
        max-width: 145px;
        height: auto;
        margin-right: 0px;
      }
      @media (max-width: 560px) {
        max-width: 145px;
        height: auto;
        margin-right: 0px;
      }
      img {
        max-width: 255px;
        width: 100%;
        height: 200px;
        transition: all 1s;
        object-fit: cover;
        @media (max-width: 992px) {
          max-width: 145px;
          height: 100%;
        }
        @media (max-width: 560px) {
          max-width: 145px;
          height: 100%;
        }
      }
    }
    &-content {
      max-width: 252px;
      width: 100%;
      @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7px;
      }
      @media (max-width: 560px) {
        padding: 7px;
      }
      &_title {
        @media (max-width: 992px) {
          order: 2;
        }
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
          margin-bottom: 10px;
          display: inline-block;
          @media (max-width: 992px) {
            color: #333333;
            font-size: 10px;
            line-height: 12px;
          }
          @media (max-width: 560px) {
            font-size: 10px;
            line-height: 12px;
          }
          @media (max-width: 414px) {
            font-size: 9px;
          }
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
      &_descr {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-bottom: 16px;
        @media (max-width: 992px) {
          order: 3;
          color: #333333;
          margin-bottom: 0;
          font-size: 10px;
          font-weight: 300;
          line-height: 12px;
        }
        @media (max-width: 560px) {
          font-size: 10px;
          font-weight: 300;
          line-height: 12px;
        }
        @media (max-width: 414px) {
          font-size: 9px;
        }
      }
      &_publish {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
          order: 1;
          margin-bottom: 0;
        }
        @media (max-width: 560px) {
          margin-bottom: 0;
        }
        img {
          margin-right: 10px;
          @media (max-width: 992px) {
            display: none;
          }
        }
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          @media (max-width: 992px) {
            color: $orange;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
          }
          @media (max-width: 560px) {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }
}
.testimonials {
  padding: 60px 0 120px;
  @media (max-width: 992px) {
    padding: 30px 0 80px;
  }
  @media (max-width: 560px) {
    padding-bottom: 45px;
    padding-top: 20px;
  }
  &--full {
    padding-bottom: 40px;
    @media (max-width: 992px) {
      padding-bottom: 20px;
    }
  }
  &_block {
    &--slider {
      display: block;
    }
    &--all {
      margin-top: 72px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 992px) {
        justify-content: space-between;
      }
      @media (max-width: 768px) {
        justify-content: center;
      }
      .testimonials_block-item {
        margin-bottom: 48px;
        @media (max-width: 1200px) {
          max-width: 445px;
          margin-bottom: 20px;
        }
        @media (max-width: 768px) {
          margin: 0 auto 20px;
        }
      }
    }
    @media (max-width: 992px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .slick-dots {
      bottom: -50px;
      @media (max-width: 992px) {
        bottom: -50px;
      }
      li {
        @media (max-width: 992px) {
          width: 10px;
          height: 10px;
        }
      }
    }
    .slick-list {
      padding: 10px 0;
    }
    .slick-dots li button {
      @media (max-width: 992px) {
        width: 10px;
        height: 10px;
      }
    }
    .slick-dots li button:before {
      background: #e0e0e0;
      border: 4px solid #e0e0e0;
      @media (max-width: 992px) {
        background: #e0e0e0;
        width: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        height: 10px;
        border: 4px solid #e0e0e0;
      }
    }
    &-inner {
      display: flex;
      @media (max-width: 992px) {
        max-width: 335px;
        min-height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
    .slick-dots {
      bottom: -30px;
      @media (max-width: 992px) {
        bottom: -20px;
      }
    }
    &-image {
      max-width: 160px;
      width: 100%;
      height: 160px;
      margin-right: 30px;
      @media (max-width: 992px) {
        display: none;
      }
      img {
        max-width: 160px;
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &-content {
      max-width: 350px;
      width: 100%;
      //   @media (max-width: 992px) {
      //     padding: 23px 23px;
      //     max-width: 100%;
      //   }
      @media (max-width: 992px) {
        padding: 13px 23px;
        max-width: 100%;
      }
      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        color: #333333;
        @media (max-width: 992px) {
          font-size: 12px;
          line-height: 181.68%;
          margin-bottom: 8px;
        }
      }
      &_descr {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        @media (max-width: 992px) {
          font-size: 10px;
          line-height: 181.68%;
        }
      }
    }
  }
}
.footer {
  padding-top: 32px;
  padding-bottom: 25px;
  background: $blue;
  min-height: 264px;
  @media (max-width: 992px) {
    min-height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &_items {
    display: flex;
    @media (max-width: 1200px) {
      justify-content: space-between;
    }
  }
  &_item {
    width: 100%;
    max-width: 255px;
    margin-right: 30px;
    @media (max-width: 1200px) {
      &:nth-child(3) {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &_logo {
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin: 12px 0;
    }
  }
  &_soc {
    a {
      display: inline-block;
      margin-right: 17px;
    }
  }
  &_contacts {
    margin: 0;
    p {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
      color: #ffffff;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      img {
        margin-right: 10px;
      }
    }
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      color: #ffffff;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 12px;
      }
      &:hover {
        color: #ebc12d;
        text-decoration: none;
      }
    }
    .ic-wrap {
      display: inline-block;
      width: 30px;
      text-align: center;
    }
  }
  &_title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ebc12d;
    padding-left: 0;
    margin-bottom: 16px;
    @media (max-width: 992px) {
      display: none;
    }
  }
  &_nav {
    ul {
      flex-direction: column;
      align-items: flex-start;
      li {
        display: flex;
        align-items: center;
        min-height: auto;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding-left: 5px;
        a {
          color: #ffffff;
        }
        &.title {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #ebc12d;
          padding-left: 0;
          &::before {
            display: none;
          }
        }
        &:before {
          content: "";
          background: url("../img/link-ic.svg") center no-repeat;
          width: 12px;
          height: 10px;
          display: inline-block;
          margin-right: 14px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
  &_gal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      border-radius: 10px;
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin-bottom: 4px;
      a {
        position: relative;
        width: 80px;
        height: 80px;
        display: inline-block;
        cursor: pointer;
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.685) url("../img/loupe.svg") center no-repeat;
          background-size: 24px;
          position: absolute;
          top: 0px;
          left: 0px;
          opacity: 0;
          transition: all 0.5s;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
  }
}
.pre-footer {
  background: #008c99;

  .container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      height: 24px;
    }
  }
  span {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
    }
    @media (max-width: 560px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  bottom: 50px;
  @media (max-width: 991px) {
    bottom: 50px;
  }
  li {
    opacity: 1;
    button {
      width: 24px;
      height: 24px;
      padding: 0;
      position: relative;
      &:before {
        font-family: "slick";
        font-size: 32px;
        line-height: 22px;
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        width: 16px;
        height: 16px;
        content: " ";
        text-align: center;
        border-radius: 50%;

        border: 4px solid #e0e0e0;
        opacity: 0.5;
        background: #e0e0e0;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &:after {
        content: "";
        font-family: "slick";
        font-size: 32px;
        line-height: 22px;
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        width: 8px;
        height: 8px;
        content: " ";
        text-align: center;
        border-radius: 50%;
        display: none;
        background: transparent;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active {
      opacity: 1;
      button {
        background: $orange;
        border-radius: 50%;
        &:before {
          background: $orange;
          width: 24px;
          height: 24px;
          border: 4px solid $orange;
          top: calc(50% - 8px);
          left: calc(50% - 8px);
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 0px;
  margin-right: 0;
}
.mm-listview .mm-next {
  padding-left: 20px;
  padding-right: 10px;
  text-overflow: initial;
  white-space: normal;
  overflow: hidden;
}
.mm-next {
  &::after {
    display: none;
  }
}
.mm-opened .mm-navbar .toggle {
  z-index: 9;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mm-opened {
  .logo {
    display: none;
  }
}
.row {
  @media (max-width: 1400px) {
    margin: 0 !important;
  }
}
.mm-opened .toggle:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #4f4f4f;
  width: 110%;
}
.mmenu {
  &_contacts {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
      color: #000;
      img {
        margin-right: 10px;
      }
    }
  }
}
.mm-opened .toggle:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #4f4f4f;
  width: 110%;
}
.mm-listview {
  font: inherit;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 520px;
  @media (max-width: 560px) {
    max-height: 370px;
  }
}
.mm-listview > li > a,
.mm-listview > li > span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #4f4f4f;
  padding: 0;
  text-overflow: initial;
  white-space: normal;
  overflow: hidden;
  @media (max-width: 767px) {
    font-size: 18px;
    font-weight: 700;
  }
}
.mm-listview > li {
  max-width: 90%;
  margin: 30px auto !important;
}
.mm-menu {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  .main-btn {
    @include main-btn(#ff6666, #fff, 134px, 32px);
    margin-left: auto;
    margin-right: auto;
    border-color: #ff6666;
    color: #fff !important;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
      background: #fff;
      color: #ff6666 !important;
    }
  }
}
.mm-listview > li {
  position: relative;
  margin: 30px 0px;
}
.mm-panel .mm-navbar {
  display: block;
}

.mm-navbars-bottom .mm-prev {
  display: none;
}
.mm-navbars-bottom {
  bottom: 185px;
}
.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 0px;
}
.mm-title {
  display: none;
}
.mm-navbar .mm-prev {
  width: 25px;
  height: 25px;
  background: url("../img/left-arrow.svg") center no-repeat;
  background-size: contain;
  &::before {
    display: none;
  }
}
.mm-navbar .mm-btn:first-child {
  left: 21px;
  top: 21px;
}
.mm-listview > li:not(.mm-divider):after {
  display: none;
}

.inner_banner {
  height: 390px;
  padding: 60px 0;
  mask-image: url("../img/inner-info.png");
  mask-repeat: repeat-x;
  mask-size: contain;
  mask-position: center;

  &--dev {
    background: $green center no-repeat;
  }
  &--lang {
    background: $blue center no-repeat;
  }
  &--draw {
    background: $light-green center no-repeat;
  }
  @media (max-width: 1670px) {
    mask-repeat: no-repeat;
    mask-size: cover;
  }
  @media (max-width: 768px) {
    mask-image: none;
    height: auto;
    padding: 40px 0px 20px;
    margin-top: 0px;
    background: transparent;
  }
  @media (max-width: 560px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #000;
    justify-content: center;
    @media (max-width: 560px) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;
    }
    .age {
      margin-left: 10px;
      display: flex;
      @media (max-width: 560px) {
        margin-left: 5px;
      }
      &-title {
        margin-right: 10px;
        @media (max-width: 560px) {
          margin-right: 5px;
        }
      }
    }
  }
  &-content {
    max-width: 520px;
    width: 100%;
    @media (max-width: 992px) {
      max-width: 360px;
    }
    @media (max-width: 768px) {
      order: 2;
      padding: 10px;
      max-width: 100%;
    }
    @media (max-width: 560px) {
      padding: 5px;
    }
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      margin-bottom: 40px;
      @media (max-width: 992px) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
      }
      @media (max-width: 768px) {
        color: #000;
      }
    }
    &_subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 22px;
      }
      @media (max-width: 768px) {
        color: #000;
        margin-bottom: 10px;
        font-weight: bold;
      }
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
    &_descr {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #ffffff;
      @media (max-width: 768px) {
        color: #000;
        font-weight: 300;
      }
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
    .age {
      width: max-content;
      text-align: center;
      margin-left: auto;
      margin-top: 50px;
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 30px;
        color: #ffffff;
        @media (max-width: 992px) {
          font-size: 38px;
        }
        @media (max-width: 768px) {
          color: #000;
        }
      }
      &-txt {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #ffffff;
        @media (max-width: 992px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          color: #000;
        }
      }
    }
  }
  &-image {
    margin-left: 220px;
    max-width: 255px;
    width: 100%;
    @media (max-width: 1200px) {
      margin-left: 200px;
    }
    @media (max-width: 992px) {
      margin-left: auto;
    }
    @media (max-width: 768px) {
      order: 1;
      margin: 0;
      max-width: 100%;
    }
    &_wrap {
      max-width: 255px;
      width: 100%;
      height: 284px;
      overflow: hidden;
      border: 3px solid #ffffff;
      border-radius: 10px;
      @media (max-width: 768px) {
        max-width: 100%;
        height: auto;
      }
      img {
        max-width: 255px;
        width: 100%;
        height: 284px;
        object-fit: cover;
        @media (max-width: 768px) {
          max-width: 100%;
          height: 245px;
        }
        @media (max-width: 560px) {
          height: 172px;
        }
      }
    }
  }
}

.more-info {
  padding: 50px 0px;
  &--revert {
    .more-info_img {
      order: 2;
      margin-right: 0;
      margin-left: 30px;
      @media (max-width: 992px) {
        order: 1;
        margin: 0;
      }
    }
    .more-info_content {
      order: 1;
      @media (max-width: 992px) {
        order: 2;
      }
    }
  }
  &--mask {
    background: $green center no-repeat;
    height: 545px;
    padding: 110px 0;
    mask-image: url("../img/Union.png");
    mask-repeat: no-repeat;
    mask-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @media (min-width: 1920px) {
      height: 645px;
    }
    @media (max-width: 992px) {
      margin-bottom: 0px;
    }
    .more-info_content-title {
      margin-top: 40px;
      color: #fff;
      @media (max-width: 992px) {
        color: #000;
        margin-top: 20px;
      }
    }
    .more-info_content-descr {
      color: #fff;
      @media (max-width: 992px) {
        color: #000;
      }
    }
    @media (max-width: 992px) {
      mask-image: initial;
      background: transparent;
      padding: 10px 0 40px;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    padding: 20px 0;
  }
  @media (max-width: 560px) {
    padding: 10px 0;
  }
  &_wrap {
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &_img {
    max-width: 540px;
    width: 100%;
    height: 314px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 30px;
    @media (max-width: 768px) {
      max-width: 100%;
      height: auto;
      margin-right: 0;
    }
    img {
      max-width: 540px;
      width: 100%;
      height: 314px;
      object-fit: cover;
      @media (max-width: 768px) {
        max-width: 100%;
        height: 245px;
      }
      @media (max-width: 560px) {
        height: 172px;
      }
    }
  }
  &_content {
    max-width: 540px;
    width: 100%;
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #333333;
      margin: 30px 0;
      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 22px;
      }
      @media (max-width: 768px) {
        color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
    &-descr {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      @media (max-width: 768px) {
        color: #000;
        font-weight: 300;
      }
      @media (max-width: 560px) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
  }
}
.toggle_nav {
  background: #ebc12d;
  height: 48px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 20px 0px 0;
  @media (max-width: 992px) {
    display: flex;
  }
  @media (max-width: 560px) {
    margin: 20px -15px 0;
  }
  &-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
  }
  &:after {
    content: "";
    background: url("../img/arr_down.svg") center no-repeat;
    width: 12px;
    height: 7.4px;
  }
}

.photo-album {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .container {
  }
  &_choose {
    .main-btn {
      @include main-btn(#fff, $orange, 134px, 32px);
      border-color: $orange;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      border-color: $orange;
      @media (max-width: 560px) {
        max-width: 95px;
        height: 24px;
        font-size: 10px;
        margin-top: 20px;
      }
      &:hover {
        color: #fff;
        background: $orange;
      }
    }
    nav {
      margin-top: 20px;
      margin-bottom: 48px;
      position: relative;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
    .nav-tabs {
      height: 64px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      background: #ebc12d;
      border-radius: 400px;
      border: none;
      z-index: 99;
      @media (max-width: 992px) {
        background: #fff;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        display: none;
        padding: 20px 30px;
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom-right-radius: 10px;
        &.active {
          position: absolute;
          top: 100%;
          left: 0px;
        }
      }
    }
    .nav-tabs .nav-link {
      border: none;
      border-radius: 30px;
      height: 32px;
      font-weight: bold;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 134px;
      padding: 0 30px;
      line-height: 17px;
      line-height: 17px;
      color: #ffffff;
      @media (max-width: 992px) {
        color: #000;
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        justify-content: flex-start;
        &:before {
          content: "";
          background: url(../img/link-ic.svg) center no-repeat;
          width: 12px;
          height: 10px;
          display: inline-block;
          margin-right: 14px;
          position: relative;
          top: -2px;
        }
      }
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      color: #ffffff;
      background-color: #ff6666;
      border-color: transparent;
      @media (max-width: 992px) {
        background: transparent;
        color: #ebc12d;
      }
    }
  }
  &_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_item-wrap {
    max-width: 540px;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--big {
      .photo-album_item {
        width: 100%;
        max-width: 540px;
      }
    }
  }
  &_item {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    max-width: 255px;
    width: 49%;
    @media (max-width: 560px) {
      width: 100%;
      max-width: 100%;
    }
    a {
      position: relative;
      width: 100%;
      display: inline-block;
      cursor: pointer;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.685) url("../img/loupe.svg") center no-repeat;
        background-size: 69px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.photos {
  @media (max-width: 992px) {
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    padding-top: 10px;
  }
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
    @media (max-width: 992px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &_item {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 255px;
    width: 100%;
    @media (max-width: 560px) {
      margin-bottom: 10px;
    }
    img {
      max-width: 255px;
      width: 100%;
      object-fit: cover;
    }
    &-wrap {
      width: calc(25% - 20px);
      margin-right: 10px;
      margin-left: 10px;
      text-align: center;
      @media (max-width: 768px) {
        width: calc(50% - 20px);
      }
      @media (max-width: 560px) {
        width: calc(50% - 10px);
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    a {
      position: relative;
      width: 100%;
      display: inline-block;
      cursor: pointer;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.685) url("../img/loupe.svg") center no-repeat;
        background-size: 32px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.shedule {
  &-wrapper {
    padding-top: 40px;
    padding-bottom: 220px;
    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &_item {
    max-width: 150px;
    width: 100%;
    margin-right: 8px;
    @media (max-width: 768px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 8px;
      position: relative;
      &::after {
        content: "";
        max-width: 245px;
        width: 100%;
        bottom: -1px;
        left: calc(50% - 122.5px);
        position: absolute;
        height: 2px;
        background: #c4c4c4;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &-title {
      max-width: 150px;
      width: 100%;
      height: 48px;
      background: #e0e0e0;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 15px;
      }
      @media (max-width: 768px) {
        max-width: 100%;
        background: transparent;
        justify-content: flex-start;
        height: auto;
        margin-bottom: 10px;
      }
    }
    &-main {
      color: #fff;
      padding: 8px;
      font-style: normal;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      margin-bottom: 8px;
      @media (max-width: 992px) {
        font-size: 10px;
        line-height: 12px;
      }
      @media (max-width: 768px) {
        color: #000;
        background: transparent;
        display: flex;
        padding: 0;
      }
      p {
        margin-bottom: 4px;
      }
      &_title {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px !important;
        @media (max-width: 992px) {
          font-size: 10px;
          line-height: 12px;
        }
        @media (max-width: 768px) {
          order: 1;
          margin-bottom: 0px !important;
        }
      }
      &_age {
        @media (max-width: 768px) {
          margin-left: 5px;
        }
        b {
          @media (max-width: 768px) {
            display: none;
          }
        }
        @media (max-width: 768px) {
          order: 2;
        }
      }
      &_group {
        @media (max-width: 768px) {
          display: none;
        }
      }
      &_teacher {
        @media (max-width: 768px) {
          display: none;
        }
      }
      &_time {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 20px !important;
        @media (max-width: 992px) {
          font-size: 12px;
          line-height: 15px;
        }
        @media (max-width: 768px) {
          font-size: 10px;
          line-height: 12px;
          order: 3;
          margin-bottom: 0 !important;
          margin-left: auto;
          font-weight: 500;
        }
      }
    }
  }
}

.news-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#pagination {
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 768px) {
    justify-content: center;
  }
  li.page-item {
    width: 65px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    @media (max-width: 992px) {
      width: 45px;
    }
    @media (max-width: 768px) {
      width: 25px;
    }
  }
  .page-link {
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid transparent;
    padding: 0;
    justify-content: center;
    transition: all 0.5s;
    outline: none;
    @media (max-width: 992px) {
      width: 45px;
      height: 45px;
    }
    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      font-size: 12px;
      line-height: 15px;
      border: 1px solid transparent;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &:hover,
    &--active {
      z-index: 2;
      border: 3px solid $red;
      text-decoration: none;
      background: #fff;
      outline: none;
      @media (max-width: 768px) {
        border: 1px solid $red;
      }
    }

    &--arr {
      width: 65px;
      height: 65px;
      opacity: 1;
      border-radius: 50% !important;
      background: transparent;
      transition: all 0.5s;
      @media (max-width: 992px) {
        width: 45px;
        height: 45px;
      }
      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
      }
      img {
        transition: all 0.5s;
        @media (max-width: 768px) {
          width: 5px;
          position: relative;
          top: -1px;
        }
      }
      &:hover {
        img {
          filter: invert(3) brightness(2);
        }
        opacity: 1;
        background: $red;
      }
    }
  }
}
.news_page {
  margin-top: 48px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  &-image {
    max-width: 825px;
    width: 100%;
    height: 440px;
    margin: 48px auto 0;
    @media (max-width: 992px) {
      max-width: 100%;
      height: 245px;
      margin: 20px auto 0;
      border-radius: 5px;
    }
    @media (max-width: 414px) {
      height: 172px;
      margin: 10px auto 0;
    }
    img {
      max-width: 825px;
      width: 100%;
      height: 440px;
      object-fit: cover;
      border-radius: 10px;
      @media (max-width: 992px) {
        max-width: 100%;
        height: 245px;
      }
      @media (max-width: 414px) {
        height: 172px;
      }
    }
  }
  &-content {
    margin-top: 52px;
    display: flex;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }
  &-item {
    width: 49%;
    margin-right: 2%;
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 24px;
      color: #333333;
      @media (max-width: 992px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
      }
      @media (max-width: 768px) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
      }
    }
    &_title {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 24px;
      color: #333333;
      @media (max-width: 992px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
      }
      @media (max-width: 768px) {
        font-size: 10px;
        margin-bottom: 10px;
        line-height: 12px;
      }
    }
    &_date {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #333333;
      margin-bottom: 24px;
      @media (max-width: 992px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
      }
      @media (max-width: 768px) {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
        color: #f2994a;
      }
      img {
        margin-right: 10px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
.news-buttons {
  display: none;
  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
  }
  .main-btn {
    @include main-btn(#fff, $orange, 134px, 32px);
    border-color: $orange;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
    border-color: $orange;
    &:hover {
      color: $orange;
    }
    @media (max-width: 560px) {
      max-width: 95px;
      height: 24px;
      font-size: 10px;
      margin-top: 0px;
    }
    &:hover {
      color: #fff;
      background: $orange;
    }
  }
}
.admin-page {
  background: url("../img/register-bg.jpg") center no-repeat;
  background-size: cover;
}
.form-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    height: auto;
    min-height: 100vh;
  }
  &--modal {
    padding: 0 !important;
    background: transparent;
    display: none;
  }
  &#modal-add {
    form {
      max-width: 350px;
      min-height: 480px;
    }
    .form-main_thanks {
      margin-top: 70px;
      @media (max-width: 560px) {
        margin-top: 20px;
      }
    }
  }
  &_title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #008c99;
    margin-bottom: 21px;
    @media (max-width: 560px) {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #333333;
    }
  }
  &_item {
    width: 100%;
    margin-bottom: 10px;
  }
  &_thanks {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;
    &.active {
      display: block;
    }
    @media (max-width: 560px) {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #333333;
    }
  }
  &_bottom {
    margin-top: auto;
    height: 139px;
    background: url("../img/form-bg.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 24px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media (max-width: 560px) {
      margin-top: 20px;
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 40px;
      height: auto;
      border-radius: 0;
      background: #fff;
      flex-wrap: wrap;
    }
  }
  &_content {
    padding: 41px 24px 0;
    @media (max-width: 560px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &_checkbox {
    display: inline-flex;
    align-items: center;
  }

  form {
    max-width: 538px;
    width: 100%;
    min-height: 385px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    @media (max-width: 560px) {
      justify-content: center;
      border-radius: 0;
    }
    input:not([type="checkbox"]),
    input:not([type="radio"]) {
      padding: 10px;
      border: none;
      border-bottom: 2px solid #c4c4c4;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      line-height: 17px;
      color: #4f4f4f;
      outline: none;
      @media (max-width: 560px) {
        font-size: 12px;
        line-height: 15px;
        color: #333333;
      }
      &::placeholder {
        color: #4f4f4f;
        @media (max-width: 560px) {
          color: #333333;
        }
      }
    }
    textarea {
      padding: 10px;
      border: none;
      border-bottom: 2px solid #c4c4c4;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      height: 50px;
      line-height: 17px;
      color: #4f4f4f;
      outline: none;
      resize: none;
      @media (max-width: 560px) {
        font-size: 12px;
        line-height: 15px;
        color: #333333;
      }
      &::placeholder {
        color: #4f4f4f;
        @media (max-width: 560px) {
          color: #333333;
        }
      }
    }
    .show > .btn-light.dropdown-toggle {
      background-color: transparent;
      border-color: #c4c4c4 !important;
    }
    .bootstrap-select {
      width: 100% !important;
      button {
        width: 100%;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 2px solid #c4c4c4;
        outline: none;
        color: #4f4f4f !important;
        border-radius: 0;
        @media (max-width: 560px) {
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          color: #333333 !important;
        }
        &:focus {
          box-shadow: none !important;
          background: transparent;
          outline: none !important;
        }
        &::after {
          content: "";
          display: inline-block;
          background: url("../img/arr_down.svg") center no-repeat;
          width: 12px;
          height: 7.4px;
          background-size: contain;
          border: none;
        }
      }
      .dropdown-menu {
        a {
          font-size: 14px;
          color: #4f4f4f;
          outline: none;
          @media (max-width: 560px) {
            font-size: 12px;
            line-height: 15px;
            color: #333333;
          }
          &:active {
            background: $orange;
            color: #fff;
          }
          &.selected {
            background: $orange;
            color: #fff;
            font-weight: normal;
          }
        }
      }
    }
    input[type="checkbox"] {
      display: none;
      & + label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        display: inline-flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        @media (max-width: 560px) {
          color: #000;
          font-size: 12px;
          line-height: 15px;
        }
        span {
          display: inline-block;
          min-width: 18px;
          width: 18px;
          height: 18px;
          background: url("../img/not-checked.svg") center no-repeat;
          vertical-align: middle;
          background-size: contain;
          margin: 0px 17px 0px 0px;
          @media (max-width: 560px) {
            margin: 0px 10px 0px 0px;
            min-width: 15px;
            width: 15px;
            height: 15px;
            background: url("../img/not-checked_mob.svg") center no-repeat;
          }
        }
        i {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          @media (max-width: 560px) {
            color: #000;
            font-size: 10px;
            line-height: 12px;
          }
        }
        a {
          font-weight: 500;
          font-size: 14px;
          color: #ffffff;
          text-decoration: underline;
          @media (max-width: 560px) {
            color: $orange;
            font-size: 10px;
            line-height: 12px;
          }
        }
      }

      &:checked {
        & + label {
          span {
            background: url("../img/checked.svg") center no-repeat;
            @media (max-width: 560px) {
              background: url("../img/checked_mob.svg") center no-repeat;
            }
          }
        }
      }
    }
    .main-btn {
      @include main-btn(transparent, #fff, 134px, 32px);
      margin-left: 48px;
      border-color: #fff;
      border-width: 1px;
      font-weight: 500;
      margin-left: 0;
      &:hover {
        font-weight: bold;
      }
      @media (max-width: 992px) {
        margin-left: 0px;
        &:hover {
          border-color: transparent;
        }
      }
      @media (max-width: 560px) {
        max-width: 95px;
        height: 24px;
        border-color: $orange;
        background: transparent;
        color: #000;
        font-size: 12px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          border-color: $orange;
          background: transparent;
          color: $orange;
        }
      }
      @media (max-width: 414px) {
        font-size: 10px;
      }
    }
  }
}
