@media (max-width:668px), screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .benefits .container {
        padding-bottom: 205px
    }
}

@media (max-width:668px), screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .partner-form {
        background-color: #f5f8fb
    }
    .partner-form__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .partner-form .floating-content--left {
        margin-top: 0;
        margin-bottom: -50px
    }
    .partner-form .floating-content--right {
        margin: -205px 0 0
    }
}

@media screen and (min-width:668px) and (min-height:416px) {
    .partner-form .floating-content--left, .partner-form .floating-content--right {
        margin-bottom: 0
    }
}

@media screen and (min-width:980px) {
    .partner-form h2 {
        white-space: nowrap
    }
}

/* .benefits .container--content{
    min-height: 1180px;
} */

.schema {
    max-width: 1080px;
    margin-bottom: 220px;
    margin-top: 68px;
}

.schema_title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}

.shema_desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-top: 35px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.schema .text{
    position: relative;
}
.shema-arrow {
    position: absolute;
    right: 100px;
    top: calc(21% - 3px);
}
@media (max-width: 768px){
    .shema-arrow {
        display: none!important;
    }
    .shema_desc{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .shema_desc br{
        display: none;
    }
    .schema{
        margin-bottom: 100px;
        margin-top: 38px;
    }
    .download-book {
        margin-top: 20px;
    }
}