.nav-bottom a:before, .nav-side a:before {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99);
    font-family: Graphik LC Web, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300
}

.nav-bottom, .nav-side {
    counter-reset: nav-bottom
}

.nav-bottom a, .nav-side a {
    counter-increment: nav-bottom;
    display: block;
    position: relative;
    padding: 24px 0 24px 60px;
    border-top: 1px solid hsla(0, 0%, 100%, .3)
}

.nav-bottom a:before, .nav-side a:before {
    content: counter(nav-bottom);
    position: absolute;
    left: 0;
    top: 25px;
    color: #489eff;
    font-size: 4.8rem;
    line-height: 1em;
    transition-property: color
}

.nav-side {
    position: absolute;
    z-index: 1;
    width: 28px;
    left: 50%;
    top: 0;
    padding-top: 76px;
    padding-bottom: 76px;
    margin-left: -360px
}

.nav-side a {
    color: hsla(0, 0%, 100%, .5);
    border-top-color: hsla(0, 0%, 100%, .12);
    min-height: 112px;
    padding: 0
}

.nav-side a:before {
    color: hsla(0, 0%, 100%, .24);
    top: 39px
}

.has-hover .nav-side a:hover, .has-hover .nav-side a:hover:before, .nav-side a.is-active, .nav-side a.is-active:before, .nav-side a:active, .nav-side a:active:before {
    color: #fff
}

.nav-side li:first-child a {
    border-top-width: 0
}

@media screen and (min-width:668px) and (max-width:979px) and (min-height:416px) {
    .nav-side {
        margin-left: -360px
    }
}

@media screen and (min-width:980px) and (max-width:1399px) {
    .nav-side {
        margin-left: -475px
    }
}

@media screen and (lgl) {
    .nav-side {
        margin-left: -480px
    }
}

@media screen and (min-width:1400px) {
    .nav-side {
        width: 210px;
        margin-left: -600px
    }
    .nav-side a {
        padding: 38px 0 25px 60px
    }
}

@media screen and (min-width:668px) and (min-height:416px) {
    .nav-bottom a {
        padding-bottom: 0
    }
}

.nav-side-container {
    position: relative
}

.gateway {
    overflow: hidden
}

.gateway__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 65%;
    margin: 0 0 0 -295px;
    pointer-events: none
}

.gateway__image-back-1 {
    margin-top: -439px;
    margin-left: -352px
}

.gateway__image-back-1, .gateway__image-back-2 {
    position: absolute;
    left: 50%;
    top: 35%;
    pointer-events: none
}

.gateway__image-back-2 {
    margin-top: -468px;
    margin-left: -317px
}

.gateway__image-front {
    position: absolute;
    left: 50%;
    top: 35%;
    margin-top: -450px;
    margin-left: -269px;
    pointer-events: none
}

.risk {
    overflow: hidden
}

.risk__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: -200px;
    pointer-events: none
}

@media screen and (min-width:1400px) {
    .risk__number {
        margin-left: -100px
    }
}

.chargeback {
    overflow: hidden
}

.chargeback__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -135px;
    pointer-events: none
}

.illustration-content {
    height: 390px;
    position: relative
}

@media screen and (min-width:668px) and (min-height:416px) {
    .illustration-content {
        height: 630px
    }
}

@media (max-width:668px), screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .solutions__button {
        width: calc(50% - 10px);
        height: 88px;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center
    }
}

@media screen and (max-width:479px) and (orientation:portrait) {
    .solutions__button {
        width: 100%
    }
}

.cards {
    overflow: hidden
}

.cards__number-back {
    display: block;
    top: 160px;
    margin: 0 0 0 -143px
}

.cards__image, .cards__number-back {
    position: absolute;
    left: 50%;
    pointer-events: none
}

.cards__image {
    top: 140px;
    margin-left: -595px
}

.cards__image img {
    -ms-transform: scale(.8);
    transform: scale(.8)
}

@media screen and (min-width:1400px) {
    .cards__image {
        top: 110px
    }
    .cards__image img {
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.payments {
    overflow: hidden
}

.payments__number {
    display: block;
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -135px;
    pointer-events: none
}

.card-to-card {
    overflow: hidden
}

.card-to-card__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 62%;
    margin: 0 0 0 -105px;
    pointer-events: none
}

.receive {
    overflow: hidden
}

.receive__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: -200px;
    pointer-events: none
}

@media screen and (min-width:1400px) {
    .receive__number {
        margin-left: -100px
    }
}

.manage {
    overflow: hidden
}

.manage__number {
    display: block;
    top: 65%;
    margin: -200px 0 0 -235px
}

.manage__image, .manage__number {
    position: absolute;
    left: 50%;
    pointer-events: none
}

.manage__image {
    top: -30px;
    margin-left: -595px
}

.manage__image img {
    -ms-transform: scale(.8);
    transform: scale(.8)
}

@media screen and (min-width:1400px) {
    .manage__image {
        top: -110px
    }
    .manage__image img {
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.pie {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -240px 0 0 -380px;
    width: 480px;
    height: 480px;
    opacity: .05
}

.pie__spinner {
    width: 100%;
    height: 100%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #fff;
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota-left 1.5s cubic-bezier(.29, .73, .45, 1);
    animation-fill-mode: both;
    animation-play-state: paused
}

.pie__wrapper--right .pie__spinner {
    animation: rota-right 1.5s cubic-bezier(.42, .13, .81, .47);
    animation-fill-mode: both;
    animation-play-state: paused
}

.pie__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 50%;
    height: 100%
}

.pie__wrapper--right {
    left: 50%
}

.pie__wrapper--right .pie__spinner {
    left: -100%
}

.pie--play .pie__spinner {
    animation-play-state: running
}

@keyframes rota-right {
    0% {
        transform: rotate(0deg)
    }
    50%, to {
        transform: rotate(180deg)
    }
}

@keyframes rota-left {
    0%, 50% {
        transform: rotate(180deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.issue {
    overflow: hidden
}

.issue__number {
    display: block;
    top: 80px;
    margin: 0 0 0 -200px
}

.issue__image, .issue__number {
    position: absolute;
    left: 50%;
    pointer-events: none
}

.issue__image {
    top: 100px;
    margin-left: -595px
}

.issue__image img {
    -ms-transform: scale(.8);
    transform: scale(.8)
}

@media screen and (min-width:1400px) {
    .issue__image {
        top: 20px
    }
    .issue__image img {
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.custom {
    overflow: hidden
}

.custom__number {
    display: block;
    top: 15%;
    margin: -160px 0 0 -54px
}

.custom__image, .custom__number {
    position: absolute;
    left: 50%;
    pointer-events: none
}

.custom__image {
    top: -30px;
    margin-left: -595px
}

.custom__image img {
    -ms-transform: scale(.8);
    transform: scale(.8)
}

@media screen and (min-width:1400px) {
    .custom__image {
        top: -110px
    }
    .custom__image img {
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.api {
    overflow: hidden
}

.api__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 65%;
    margin: 20px 0 0 -94px;
    pointer-events: none
}

.layout-right-content p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
}