<footer class="footer ui-footer ui-footer-background">

    <div class="footer__navigation">
        <div class="container container--content">

            <div class="row row--pad">
                <div class="col col--xs-12 col--lg-2-5 is-hidden--xs-down pos-rel">
                    <a href="#" class="logo">
                        <img src="img/icons/logo-footer.svg" alt="">
                    </a>
                    <p class="footer_underLogo">
                        ООО «Городской Риэлторский Центр»
                    </p>
                    <a class="btn btn--sm btn--vertical btn--footer footer__navigation__back"
                        href="#top">


                        <img src="img/icons/icon-up.svg" alt="">

                        <span>Наверх</span>
                    </a>

                </div>
                <div class="col col--xs-12 col--md-fit is-hidden--lgl-down "></div>
                <div class="col col--xs-12 col--md-6 col--lg-3 is-hidden--sm-down" itemscope
                    itemtype="http://schema.org/Organization">

                    <div class="footer_phone" itemprop="telephone">

                        <a href="tel:+79298280070">
                            +7 (929) 828-0070
                        </a>
                    </div>
                    <div class="footer_email">
                        <a href="mailto:pro@grc-sochi.ru">pro@grc-sochi.ru</a>
                    </div>
                    <div class="footer_address">
                        354000, Россия, Краснодарский край <br>
                        г. Сочи, ул. Горького, д. 42/2
                    </div>
                    <div class="footer_map">
                        <a href="#">Посмотреть на карте</a>
                    </div>
                    <div class="footer_soc">
                        <a href="#">
                            <img src="img/icons/insta.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/youtube.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/vk.svg" alt="">
                        </a>
                    </div>

                </div>


                <div class="col col--xs-12 is-hidden--md-up block-md-bottom block-m">
                    <a data-plugin="lightboxTrigger"
                        data-lightbox-trigger-target=".js-cookies-callback"
                        class="btn btn--stroked btn--rounded btn--lg footer__calculator-button">
                        Заявка на консультацию
                    </a>
                    <div class="footer_phone" itemprop="telephone">

                        <a href="tel:+79298280070">
                            +7 (929) 828-0070
                        </a>
                    </div>
                    <div class="footer_email">
                        <a href="mailto:pro@grc-sochi.ru">pro@grc-sochi.ru</a>
                    </div>
                    <div class="footer_address">
                        354000, Россия, Краснодарский край <br>
                        г. Сочи, ул. Горького, д. 42/2
                    </div>
                    <div class="footer_map">
                        <a href="#">Посмотреть на карте</a>
                    </div>
                    <div class="footer_soc">
                        <a href="#">
                            <img src="img/icons/insta.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/youtube.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icons/vk.svg" alt="">
                        </a>
                    </div>

                </div>

                <div class="col col--xs-12 col--md-5 col--lg-4 col--lgl-3 is-hidden--sm-down">
                    <a data-plugin="lightboxTrigger"
                        data-lightbox-trigger-target=".js-cookies-callback"
                        class="btn btn--stroked btn--rounded btn--lg footer__calculator-button">
                        Заявка на консультацию
                    </a>
                    <ul class="footer_menu">
                        <li><a href="partnering/">Партнерам</a></li>
                        <li><a href="corporate/">Как мы работаем</a></li>
                        <li><a href="about-us/">О компании</a></li>
                        <li><a href="contacts/">Контакты</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="footer__copyright text--small">
        <div class="container container--footer-copyright">

            <div class="row row--pad">

                <div class="col col--xs-12 col--md-12 col--lg-7">

                    <p>
                        © 2020 Городской Риэлторский Центр — агентство недвижимости. <br>
                        Информация, опубликованная на сайте, не является публичной офертой и носит
                        ознакомительный характер
                    </p>

                </div>
                <div class="col col--xs-12 col--lg-fit "></div>
                <div class="col col--xs-12 col--md-12 col--lg-fit policy">


                    <a data-plugin="lightboxTrigger"
                        data-lightbox-trigger-target=".js-cookies-notification"> Политика
                        конфиденциальности</a>

                </div>
            </div>


        </div>
    </div>

</footer>