<header class="header header--static ui-header" data-plugin="headerFixed, headerMobile"
    data-header-fixed-transparent="true">

    <div class="container container--wide header__inner">

        <a href="/" class="logo btn btn--nav btn--logo ">


            <img src="img/icons/logo.svg" class="logo-white" alt="">
            <img src="img/icons/logo-black.svg" class="logo-black" alt="">
        </a>

        <nav class="nav-primary btn-group btn-group--large is-hidden--lgl-down">
            <a href="partnering/" class="btn btn--nav btn--link btn--link-nav js-subnavigation-trigger-services">
                Партнерам
            </a>
            <a href="corporate/" class="btn btn--nav btn--link btn--link-nav js-subnavigation-trigger-company">
                Как мы работаем
            </a>
            <a href="about-us/" class="btn btn--nav btn--link btn--link-nav">
                О компании
            </a>
            <a href="contacts/" class="btn btn--nav btn--link btn--link-nav">
                Контакты
            </a>
        </nav>





        <nav class="nav-primary btn-group is-hidden--lgl-down">


            <a class="btn btn--nav btn--link btn--link-primary" data-plugin="lightboxTrigger"
                data-lightbox-trigger-target=".js-questionnaire-lightbox">
                <img src="img/icons/arr-right.svg" class="logo-white" alt="">
                <img src="img/icons/arrow-black.svg" class="logo-black" alt="">
                <b>Передать клиента</b>
            </a>
        </nav>



        <a class="btn btn--nav btn--link btn--link-secondary
nav-mobile-toggle js-mobile-toggle
is-hidden--lgl-up">

            <span class="nav-mobile-toggle__text">Меню</span>
            <span class="icon icon--hamburger"><i></i><i></i><i></i></span>
        </a>


        <aside aria-hidden="true" class="nav-mobile js-mobile is-hidden--lgl-up is-hidden">
            <div class="nav-mobile__inner js-mobile-inner">

                <div class="nav-mobile__content">

                    <nav class="btn-group btn-group--all">


                    </nav>

                    <a class="btn btn--nav btn--link btn--link-text-light nav-mobile-toggle js-mobile-toggle">
                        <span class="icon icon--close"><i></i><i></i><i></i></span>
                    </a>

                    <ul class="nav-mobile__list">
                        <li>
                            <ul class="accordion accordion--list text--large block-md" >
                                <li class="accordion__item">
                                    <a
                                        class="accordion__heading nav-mobile__list__heading is-active js-accordion-heading">
                                        <span>Услуги</span>


                                    </a>
                                    <div class="accordion__content is-active js-accordion-content">
                                        <ul>
                                            <li><a class="nav-mobile__list__link" href="../partnering/">Партнерам</a>
                                            </li>
                                            <li><a class="nav-mobile__list__link" href="../corporate/">Как мы
                                                    работаем</a></li>
                                            <li><a class="nav-mobile__list__link" href="../about-us/">О
                                                    компании</a></li>
                                            <li><a class="nav-mobile__list__link" href="../contacts/">Контакты</a></li>
                                            <li><a class="nav-mobile__list__link black" data-plugin="lightboxTrigger"
                                                    data-lightbox-trigger-target=".js-questionnaire-lightbox">
                                                    <!-- <img src="img/icons/arrow-black.svg" class="logo-black-mob" alt=""> -->
                                                    <b>Передать клиента</b></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </aside>
    </div>



</header>