<script src="../js/main.min.js"></script>

<!-- <script>
    $.extend($.validator.messages, {
        email: "Пожалуйста, введите корректный e-mail",
        required: "Необходимо заполнить поле",
        tel: "Пожалуйста, введите корректный номер телефона",
        url: "Пожалуйста, введите корректный URL",
        file: "Пожалуйста, загрузите файл",
        fileFormat: "Пожалуйста, загрузите файл в формате .doc, .docx, .jpg, .pdf или .xls"
    });
</script> -->