<div class="footer">
    <div class="container">
        <div class="footer_items">
            <div class="footer_item d-none d-lg-block">
                <div class="footer_logo">
                    <a href="#"><img src="img/footer_logo.svg" alt=""></a>
                    <p>
                        <span class="yellow">Детский центр “Галилео”</span> - счастливое детство, уверенное будущее.</p>
                    <div class="footer_soc">
                        <a href="#"><img src="img/insta-foot.svg" alt=""></a>
                        <a href="#"><img src="img/vk-foot.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="footer_item d-none d-lg-block">
                <div class="footer_nav">
                    <ul>
                        <li class="title">Важное</li>
                        <li><a href="#">О центре</a></li>
                        <li><a href="#">Программирование</a></li>
                        <li><a href="#">Школа языков</a></li>
                        <li><a href="#">Рисование</a></li>
                        <li><a href="#">Школа Новости</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_item d-none d-xl-block">
                <div class="footer_title">
                    Наша галерея
                </div>
                <div class="footer_gal">
                    <div class="footer_gal-item">
                        <a href="img/gal1.jpg" data-fancybox="gal">
                            <img src="img/gal1.jpg" alt="">
                        </a>
                    </div>
                    <div class="footer_gal-item">
                        <a href="img/gal2.jpg" data-fancybox="gal">
                            <img src="img/gal2.jpg" alt="">
                        </a>
                    </div>
                    <div class="footer_gal-item">
                        <a href="img/gal3.jpg" data-fancybox="gal">
                            <img src="img/gal3.jpg" alt="">
                        </a>
                    </div>
                    <div class="footer_gal-item">
                        <a href="img/gal4.jpg" data-fancybox="gal">
                            <img src="img/gal4.jpg" alt="">
                        </a>
                    </div>
                    <div class="footer_gal-item">
                        <a href="img/gal1.jpg" data-fancybox="gal">
                            <img src="img/gal1.jpg" alt="">
                        </a>
                    </div>
                    <div class="footer_gal-item">
                        <a href="img/gal2.jpg" data-fancybox="gal">
                            <img src="img/gal2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer_item">
                <div class="footer_title">
                    Контакты
                </div>
                <address class="footer_contacts">
                    <p>
                        <span class="ic-wrap">
                            <img src="img/place-orange.svg" alt="">
                        </span>
                        <span>Сибирская 29/1 офис 303</span>
                    </p>
                    <p class="d-none d-lg-block">
                        <span class="ic-wrap">
                            <img src="img/phone-orange.svg" alt="">
                        </span>
                        <span> 8 (3822) 30-30-85</span>
                    </p>
                    <p>
                        <span class="ic-wrap">
                            <img src="img/clock.svg" alt="">
                        </span>
                        <span>Пн-Сб 9:00 - 18:00</span>
                    </p>
                    <p>
                        <span class="ic-wrap">
                            <img src="img/email_orange.svg" alt="">
                        </span>
                        <span>galileo.tomsk@gmail.com</span>
                    </p>
                </address>
            </div>
            <div class="footer_item d-block d-lg-none">
                <address class="footer_contacts">
                    <p>
                        <span class="ic-wrap">
                            <img src="img/phone-orange.svg" alt="">
                        </span>
                        <span>30-30-85</span>
                    </p>
                    <p>
                        <span class="ic-wrap">
                            <img src="img/insta-orange.svg" alt="">
                        </span>
                        <a href="#" target="_blank">Instagram</a>
                    </p>
                    <p>
                        <span class="ic-wrap">
                            <img src="img/vk-orange.svg" alt="">
                        </span>
                        <a href="#" target="_blank">Vkontakte</a>
                    </p>
                </address>
            </div>
        </div>
    </div>
</div>
<div class="pre-footer">
    <div class="container">
        <span>Детский центр “Галилео” 2019</span>
    </div>
</div>
<div class="form-main form-main--modal" id="modal-sign">
    <form action="" method="POST">
        <div class="form-main_content">
            <div class="form-main_title">
                Спеши записаться на <br> первое занятие
            </div>
            <div class="form-main_items">
                <div class="form-main_item">
                    <input type="text" placeholder="Ваше ФИО" name="fio" required autocomplete="false">
                </div>
                <div class="form-main_item">
                    <input type="text" placeholder="Телефон" name="phone" required autocomplete="false">
                </div>
                <div class="form-main_item">
                    <input type="email" placeholder="E-mail" name="email" required autocomplete="false">
                </div>
                <div class="form-main_item">
                    <input type="text" placeholder="ФИО Ребенка" name="child" required autocomplete="false">
                </div>

                <div class="form-main_item">
                    <select class="selectpicker" title="Выберите курс">
                        <option>Программирование 6-7 лет</option>
                        <option>Программирование 8-9 лет</option>
                        <option>Программирование 13+ лет</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-main_bottom">
            <div class="form-main_checkbox">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">
                    <span></span>
                    <i> Я ознакомлен и согласен с условиями <a href="#" target="_blank">пользовательского
                            соглашения</a></i>
                </label>
            </div>
            <button type="submit" class="main-btn">
                Отправить
            </button>
        </div>
    </form>
</div>
<div class="form-main form-main--modal" id="modal-add">
    <form action="" method="POST">
        <div class="form-main_content">
            <div class="form-main_title">
                Спеши записаться на <br> первое занятие
            </div>
            <div class="form-main_thanks">
                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                осмысленного текста рыбы на русском языке.
            </div>
        </div>
        <div class="form-main_bottom">
            <button type="submit" class="main-btn mr-auto mr-lg-0 ml-lg-auto">
                Записаться
            </button>
        </div>
    </form>
</div>
<div class="form-main form-main--modal" id="modal-sign_thanks">
    <form action="" method="POST">
        <div class="form-main_content">
            <div class="form-main_title">
                Спеши записаться на <br> первое занятие
            </div>
            <div class="form-main_thanks">
                Заявка принята! Наш администратор ответит вам в ближайшее вермя!
            </div>

        </div>
        <div class="form-main_bottom">
        </div>
    </form>
</div>
<div class="form-main form-main--modal" id="modal-testim_thanks">
    <form action="" method="POST">
        <div class="form-main_content">
            <div class="form-main_title">
                Спеши записаться на <br> первое занятие
            </div>
            <div class="form-main_thanks">
                Спасибо за ваше мнение! Отзыв будет доступен после модерации.
            </div>

        </div>
        <div class="form-main_bottom">
        </div>
    </form>
</div>
<div class="form-main form-main--modal" id="modal-testim">
    <form action="" method="POST">
        <div class="form-main_content">
            <div class="form-main_title">
                Добавление отзыва
            </div>
            <div class="form-main_items">
                <div class="form-main_item">
                    <input type="text" placeholder="Ваше ФИО" name="fio" required autocomplete="false">
                </div>
                <div class="form-main_item">
                    <input type="text" placeholder="ФИО Ребенка" name="child" required autocomplete="false">
                </div>
                <div class="form-main_item">
                    <textarea name="text" id="" required placeholder="Текст отзыва"></textarea>
                </div>

                <div class="form-main_item">
                    <select class="selectpicker" title="Выберите курс">
                        <option>Программирование 6-7 лет</option>
                        <option>Программирование 8-9 лет</option>
                        <option>Программирование 13+ лет</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-main_bottom">
            <div class="form-main_checkbox">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">
                    <span></span>
                    <i> Я ознакомлен и согласен с условиями <a href="#" target="_blank">пользовательского
                            соглашения</a></i>
                </label>
            </div>
            <button type="submit" class="main-btn">
                Отправить
            </button>
        </div>
    </form>
</div>
<script src="js/main.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>