<div class="testim-up">
    <div class="container ">
        <div class="testim-up_title">
            Понравилось у нас? Оставьте свой отзыв!
        </div>

        <a href="#modal-testim" data-fancybox class="main-btn ">
            Написать
        </a>
    </div>
</div>