<div class="top-head">
    <div class="container">
        <div class="top-head_inner">
            <div class="top-head_left">
                <address class="top-head_address">
                    <div class="top-head_address-item">
                        <img src="img/place.svg" alt="Сибирская 29/1 офис 303">
                        <span>Сибирская 29/1 офис 303</span>
                    </div>
                    <div class="top-head_address-item">
                        <img src="img/phone.svg" alt="30-30-85">
                        <span>30-30-85</span>
                    </div>
                </address>
            </div>
            <div class="top-head_right">
                <div class="top-head_email">
                    <img src="img/mail.svg" alt="galileo.tomsk@gmail.com">
                    <a href="mailto:galileo.tomsk@gmail.com">galileo.tomsk@gmail.com</a>
                </div>
                <div class="top-head_soc">
                    <a href="#"><img src="img/vk.svg" alt=""></a>
                    <a href="#"><img src="img/insta.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <a href="#"><img src="img/logo.svg" alt=""></a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">О центре</a></li>
                    <li>
                        <span>Направления</span>
                        <ul>
                            <li><a href="#">Программирование</a></li>
                            <li><a href="#">Школа языков</a></li>
                            <li><a href="#">Рисование</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </nav>
            <nav id="menu" class="mob-menu">
                <ul>
                    <li><a href="#">О центре</a></li>
                    <li>
                        <span>Направления</span>
                        <ul>
                            <li><a href="#">Программирование</a></li>
                            <li><a href="#">Школа языков</a></li>
                            <li><a href="#">Рисование</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </nav>
            <a href="#" class="main-btn">
                Расписание
            </a>
            <div class="mob-phone d-inline-block d-lg-none ">
                <a href="tel:30-30-85">
                    <img src="img/phone-mob.svg" alt="">
                </a>
            </div>
            <a href="#menu" class="d-inline-block d-lg-none toggle">

            </a>
        </div>
    </div>
</header>