<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="css/main.min.css">
<link rel="icon" type="image/png" href="img/favicon.ico">
<title>Детский центр “Галилео”</title>