<nav aria-label="Page navigation" id="pagination">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link page-link--arr" href="#" aria-label="Назад">
                <span aria-hidden="true"><img src="img/pag-left.svg" alt=""></span>
                <span class="sr-only">Назад</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link page-link--active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link page-link--arr" href="#" aria-label="Вперед">
                <span aria-hidden="true"><img src="img/pag-right.svg" alt=""></span>
                <span class="sr-only">Вперед</span>
            </a>
        </li>
    </ul>
</nav>