<div class="container">
    <div class="photos_wrap">
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo1.jpg" data-fancybox="photo-dev">
                    <img src="img/photo1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo2.jpg" data-fancybox="photo-dev">
                    <img src="img/photo2.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo3.jpg" data-fancybox="photo-dev">
                    <img src="img/photo3.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo1.jpg" data-fancybox="photo-dev">
                    <img src="img/photo1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo1.jpg" data-fancybox="photo-dev">
                    <img src="img/photo1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo2.jpg" data-fancybox="photo-dev">
                    <img src="img/photo2.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo3.jpg" data-fancybox="photo-dev">
                    <img src="img/photo3.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="photos_item-wrap">
            <div class="photos_item">
                <a href="img/photo1.jpg" data-fancybox="photo-dev">
                    <img src="img/photo1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>