<div class="sign-up">
    <div class="sign-up_title  d-none d-lg-block">
        Вашему ребенку обязательно понравится у нас!
    </div>
    <a href="#modal-sign" data-fancybox class="main-btn  d-none d-lg-flex">
        Записаться
    </a>
    <!--  Мобильный -->
    <div class="container d-flex d-lg-none">
        <div class="sign-up_title  d-block d-lg-none">
            Спеши записаться на <br class=" d-block d-sm-none"> первое занятие!
        </div>
        <a href="#modal-sign" data-fancybox class="main-btn  d-flex d-lg-none">
            Записаться
        </a>
    </div>
</div>