<div class="sign-up">
    <div class="container ">
        <div class="sign-up_title">
            Вашему ребенку обязательно <br class=" d-block d-sm-none"> понравится у нас!
        </div>
        <a href="#modal-sign" data-fancybox class="main-btn ">
            Записаться
        </a>
    </div>
</div>